*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
/* First Main Header */
    .header1{
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: rgb(0, 0, 75);
        padding: 10px;
        height: 7em;
        width: 100vw;
    }
    /* Geeta Law College Logo */
    .logo img{
        width: 13em;
        position: absolute;
        left: 0;
        right: 0;
        top: 1em;
        margin: auto;
    }
    
    
    /* Search Bar */
    .search{
        margin-right: 10px;
        display: flex;
    }
    .search img{
        width: 25px;
    }
    .search input{
        width: 250px;
        padding: 10px;
        border: none;
        background-color: transparent;
        border-bottom: 2px solid rgb(0, 0, 150);
        color: white;
        font-family: sans-serif;
        font-size: 17px;
        margin-bottom: 0;
    }
    
    /* First Navigation */
    .nav1{
        margin-left: 40px;
    }
    .nav1 ul{
        display: flex;
        justify-content: space-between;
        list-style: none;
    }
    .nav1 ul li a{
        text-decoration: none;
        color: white;
        padding: 10px;
        margin: 10px;
    }
    .nav1 ul li a:hover{
        color: #ec5e06;
        transition: 0.5s;
    }
    

/* Second Main Header */
    .header2{
        background-color: #ec5e06;

    }
    /* Second Navigation */
    
    .nav2 > ul{
        height: 60px;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        list-style: none;
        font-size: 20PX;
        margin:0  80px;
    }
    .nav2 ul li a{
        text-decoration: none;
        color: white;
        padding: 10px;
        padding-bottom: 15px;
        margin: 10px;
    }



    /* Dropdown Menu */

    .dropdown-content{
        display: none;
        background-color: #ec5e06;
        list-style: none;
        position: absolute;
        margin-top: 15px;
    }
    .dropdown:hover ul{
        display: block;
    }
    .dropdown-content li a{
        text-decoration: none;
        color: white;
    }
    .dropdown-content:hover{
        display: block;
    }
    .dropdown-content li{
        border: 0.5px solid white;
        border-left: none;
        border-right: none;
        padding: 10px;
    }

   