@font-face {
    font-family: 'Elephant';
    src: url('Elephant-Regular.woff2') format('woff2'),
        url('Elephant-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

